body{

  background-image:url(images/1.png);  
  background-size: cover;
  

  }

.a{
  width: 150px;
  padding-top: 180px;
  padding-left: 55px;
}
.b{
  width: 150px;
  padding-top: 180px;
  padding-left: 55px;
}  
.c{
  width: 150px;
  padding-top: 180px;
  padding-left: 50px;
}  
.d{
  width: 150px;
  padding-top: 180px;
  padding-left: 55px;
}  
.e{
  width: 150px;
  padding-top: 180px;
  padding-left: 50px;
}  
.f{
  width: 150px;
  padding-top: 180px;
  padding-left: 55px;
}  
.g{
  width: 150px;
  padding-top: 180px;
  padding-left: 50px;
}  
.h{
  width: 150px;
  padding-top: 169px;
  padding-left: 55px;
}  
.i{
  width: 150px;
  padding-top: 169px;
  padding-left: 55px;
}  
.j{
  width: 150px;
  padding-top: 169px;
  padding-left: 52px;
}  
.k{
  width: 150px;
  padding-top: 169px;
  padding-left: 55px;
}  
.l{
  width: 150px;
  padding-top: 169px;
  padding-left: 48px;
}  
.m{
  width: 150px;
  padding-top: 169px;
  padding-left: 55px;
}  
.n{
  width: 150px;
  padding-top: 169px;
  padding-left: 52px;
}  
.o{
  width: 150px;
  padding-top: 169px;
  padding-left: 55px;
}  
.p{
  width: 150px;
  padding-top: 169px;
  padding-left: 55px;
}  
.q{
  width: 150px;
  padding-top: 169px;
  padding-left: 55px;
}  
.r{
  width: 150px;
  padding-top: 169px;
  padding-left: 55px;
}  
.s{
  width: 150px;
  padding-top: 169px;
  padding-left: 48px;
}  
.t{
  width: 150px;
  padding-top: 169px;
  padding-left: 51px;
}  
.u{
  width: 150px;
  padding-top: 169px;
  padding-left: 54px;
}  
.btn{
  text-align: center;
}